<!-- Navbar en modo oscuro -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Cambiar el enlace de "Premier Meat" para que redirija a /home -->
    <a class="navbar-brand" [routerLink]="['/home']">Premier Meat</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/products']" routerLinkActive="active">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active">Contacto</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']">Registrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Contenido principal -->
<router-outlet></router-outlet>

<!-- Footer en modo oscuro -->
<footer class="bg-dark text-center text-lg-start mt-5 text-white">
  <div class="container p-4">
    <p>&copy; 2024 Premier Meat. Todos los derechos reservados.</p>
  </div>
</footer>
