<div class="container mt-5 text-white">
  <h1>Bienvenido a Premier Meat</h1>
  <p>Explora nuestros productos frescos y de calidad.</p>
</div>

<!-- Carrusel -->
<div id="mainCarousel" class="carousel slide mb-5" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/img/meat/lomo_Liso.png" class="d-block w-100 carousel-image" alt="Lomo Liso">
    </div>
    <div class="carousel-item">
      <img src="assets/img/meat/posta_negra.png" class="d-block w-100 carousel-image" alt="Posta Negra">
    </div>
    <div class="carousel-item">
      <img src="assets/img/meat/lomo_vetado.png" class="d-block w-100 carousel-image" alt="Lomo Vetado">
    </div>
    <div class="carousel-item">
      <img src="assets/img/meat/asiento.png" class="d-block w-100 carousel-image" alt="Asiento">
    </div>
    <div class="carousel-item">
      <img src="assets/img/meat/filete.png" class="d-block w-100 carousel-image" alt="Filete">
    </div>
    <div class="carousel-item">
      <img src="assets/img/meat/posta_rosada.png" class="d-block w-100 carousel-image" alt="Posta rosada">
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
